@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* sans serif */
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
